/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr.css";


.content {
    display: flex;
    margin: 32px auto;
    max-width: 960px;
    flex-direction: row;
    align-items: center;
  }


  .bishop {
    background-image: url("/assets/figures/w_bishop_2x.png") !important;
  }
  .king {
    background-image: url("/assets/figures/w_king_2x.png") !important;
  }
  .knight {
    background-image: url("/assets/figures/w_knight_2x.png") !important;
  }
  .pawn {
    background-image: url("/assets/figures/w_pawn_2x.png") !important;
  }
  .queen {
    background-image: url("/assets/figures/w_queen_2x.png") !important;
  }
  .rook {
    background-image: url("/assets/figures/w_rook_2x.png") !important;
  }

  .selected-figure {
  }